<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="MultiFunction.min.dnncorAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
        <services>
            <service name="MultiFunction.min.dnncor">
                <endpoint address="" behaviorConfiguration="MultiFunction.min.dnncorAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="MultiFunction.min.dnncor" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
