body,p
{
	font-family:Arial, Helvetica, Verdana, Geneva, Sans-Serif;
	font-size:93%;
	font-style:normal;
	font-weight:400;
	margin:.5em 0;
}

body
{
	color:#626262;
	background-color:#ededed;
	background-repeat:repeat;
	background-attachment:scroll;
	background-position:top left;
	margin:0 auto;
	padding:0;
	line-height:1.5em;
}

hr, p, ul, ol, dl, pre, blockquote, address, table, form {
    margin-bottom: 1.6em;
}

/*links */
a, a:hover, a:active, a:link, a:visited
{
	color:#000;
	text-decoration:underline;
}


/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.Left
{
	float:left;
}
.Right
{
	float:right;
}

/*dotnetnuke classes */

.ControlPanel
{
	width:860px;
	margin:0 auto;
}

.Normal
{
	font-size:100%;
}

.Head
{
	color:#656565;
	font-size:2.0em;
	font-weight:400;
	padding: 0 0 5px;
	line-height:100%;
}

.SkinObject, .CommandButton
{
	font-size:100%;
	font-weight:normal;
	color:#000;
}

.DNNEmptyPane{display:none;}

/*skin positioning*/
#BodyWrapper
{
	width:100%;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
}

#Header
{
	width:100%;
}

#Logo
{
	float:left;
}

#GraphicHeader
{
	width:100%;
	background-image:url(https://s3.amazonaws.com/dnncdn/MultiFunction/headerbg_rp.png);
	background-repeat:repeat-x;
	min-height:200px;	
}

#GraphicHeader .page_header
{
	background:url(https://s3.amazonaws.com/dnncdn/MultiFunction/headerbg.jpg) no-repeat scroll 50% 0 transparent;
	height:200px;	
}

.HeaderGraphic
{
	background:url(https://s3.amazonaws.com/dnncdn/MultiFunction/header_graphic.png);
	width:900px;
	height:176px;
}

.MainSection
{
	width:100%;
}

.cp
{
	margin: 0 auto;
    /*overflow: hidden;*/
    width: 960px;
}

.UserLogin
{
	clear:both;
	text-align:right;
	width:100%
}

.UserLogin .SkinObject, .UserLogin a.SkinObject, .UserLogin a:hover.SkinObject,.UserLogin a:link.SkinObject,.UserLogin a:visited.SkinObject,.UserLogin a:active.SkinObject
{
	color:#fff;
	font-weight:bold;
	font-size:90%;
	padding:0 0 0 15px;
}

#ContentWrapper
{
	background:#ededed url(https://s3.amazonaws.com/dnncdn/MultiFunction/contentbg_rp.png);
	background-repeat:repeat-x;
	min-height:100px;
	background:#;
	padding-top:50px;
}

#ContentFooter
{
	background:#d3d3d3;
	border-top:solid 1px #c0c0c0;
	height:75px;
	margin-bottom:10px;
}

.FeatureThree
{
	width:100%;
}

.FeatureThreeLeft, .FeatureThreeMid, .FeatureThreeRight
{
	width:290px;
	float:left;
	padding:0 0 20px 0;
	margin:0 15px;
}

.ContentPane
{ width:480px; float:left;margin:0 15px 0 0;padding:0 0 15px 0;}
.TopPane
{ width:100%; padding:0 0 15px 0;}
.LeftPane
{width:225px;float:left;margin:0 15px 0 0;padding:0 0 15px 0;}
.RightPane
{width:225px;float:right;padding:0 0 15px 0;}

.TwoColumn .ContentPane
{
	width:705px;
}

.Edit .ContentPane
{
	width:100%;
}

.PageFooter
{
	width:100%;
	background-image:url(https://s3.amazonaws.com/dnncdn/MultiFunction/footerbg_rp.png);
	background-repeat:repeat-x;
	min-height:359px;
	max-height:359px;
}

.FooterWrapper
{
	width:100%;
	background:url(https://s3.amazonaws.com/dnncdn/MultiFunction/footerbg.jpg) no-repeat scroll 50% 0 transparent;
	height:359px;
}

.FooterWrapper .cp
{
	padding:30px 0;
}

.FooterLeftPane, .FooterMidPane, .FooterRightPane
{
	width:225px;float:left;
	padding:0 0 30px 0;
	margin:0 30px 0 10px;
	color:#d9d9d9;
	min-height:250px;
}

.FooterWrapper a, .FooterWrapper a.SkinObject, .FooterWrapper a.CommandButton
{
	color:#fff;
}

.FooterWrapper .ContainerPane ul
{
	margin:-10px 0 0 -40px;
}

.FooterWrapper .ContainerPane li
{
	list-style:none;
	padding:8px 0 8px 0;
	border-top:solid 1px #62744b;
}

.FooterWrapper li:first-child
{
	border-top:none;
}

.FooterCopyright
{
	width:100%;
	float:left;
	padding:60px 0 0 0;
 }
 
 .FooterWrapper .Head
{
	color:#ececec;
}

.FooterWrapper .DNNEmptyPane{display:inherit;}

.SkinLink
{width:100%;clear:both;text-align:center;font-size:10px;color:#000;}
.SkinLink a
{color:#000;}

 

/* footer picture is a DIV designed to allow you to have an overlaid image on the bottom right of the page. */

/*.FooterPicture 
{
	display:none;
	background-image:url(i/SOMETHING.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    float: right;
    height: 577px;
    margin-top: -622px;
    width: 500px;
    border:solid 1px red;
}
*/

/* navigation styles */
.MenuWrapper
{
	width:100%;
	text-align:right;
}
ul.MenuClass
{
	padding-left:0px;
}
.MenuClass
{
	height:50px;
	float:right;
	margin:21px 10px 0;
	width:640px;
	border:0 none;
	outline:none;
}

ul.MenuClass img
{
	display:none;
}

.MenuRootItem 
{
	padding:11px 5px;
	webkit-border-radius: 15px;
	-moz-border-radius: 5px; 
	border-radius: 5px;
}

.MenuRootItem.sel
{
    border: 1px solid #1a2409;
}

.MenuRootItem.hov
{
	background:#484848;
}

.MenuRootItem a
{
	padding:11px 14px;
}

.MenuRootItem a:hover
{
	color:#fff;
}

.SubMenuContainer
{
	padding:11px 15px;
	webkit-border-radius: 15px;
	-moz-border-radius: 5px; 
	border-radius: 5px;
	background:#fff;
	text-align:left;
}

.SubMenuItem
{
	padding-bottom:15px;
}

.SubMenuItem:last-child
{
	padding-bottom:0px;
}

/*container classes*/

.ContainerWrapper
{
	padding:0 0 10px 0;
}

.ModuleTitle_MenuItem
{
	border:none;
}

.ContainerHeader
{
	padding:0 0 15px 0;
}


/*watchers action menu override opacity */
.ModuleOptionsMenu-Grey li ul{opacity:.95;}

.DnnModule{z-index:100;position:relative;}